@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    max-width: 300px;
}

.tile {
    display: flex;
    /* border: 1px; */
    /* border-color: black; */
    background-color: aqua;
}